{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Banner -->
    <div id="banner" class="row text-center text-white">
        <div class="col bg-dark-green">
            <h4 class="my-1"><i class="fas fa-solid fa-seedling"></i> We have the most instagrammable plants you will ever see! <i class="fas fa-solid fa-seedling"></i></h4>                
        </div>            
    </div>

    <div class="container-fluid text-dark-green mh-70vh">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Shopping Cart Overview</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col text-center mt-4">
                {% if bag_items %}
                    <div class="row justify-content-center">
                        <div class="col-sm-12 col-md-8 col-xl-10 my-2 justify-content-center">
                            <table id="bag_display" class="data_table text-center display wrap" width="100%">
                                <thead class="text-center">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in bag_items %}
                                    <tr>
                                        <td class="p-3 w-25">
                                            <img class="card-img-top img-fluid" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                                        </td>
                                        <td>
                                            <ul class="list-unstyled">
                                                <li>{{ item.product.friendly_name }}</li>
                                                <li>{{ item.product.size }}</li>
                                            </ul>
                                        </td>
                                        <td>€ {{ item.product.price }}</td>
                                        <td>
                                            <form class="quantity-form" method="POST" action="{% url 'update_bag' item.item_id %}">
                                                {% csrf_token %}
                                                <select name="quantity" id="id_qty_{{ product.id }}">
                                                    <option value="1" {% if item.quantity == 1 %}selected{% endif %}>1</option>
                                                    <option value="2" {% if item.quantity == 2 %}selected{% endif %}>2</option>
                                                    <option value="3" {% if item.quantity == 3 %}selected{% endif %}>3</option>
                                                </select>
                                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                                <button type="submit" class="btn-white card-link">Update</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form class="delete-form" method="POST" action="{% url 'remove_from_bag' item.item_id %}">
                                                {% csrf_token %}
                                                € {{ item.product.price }}
                                                <button type="submit" class= "btn-delete">
                                                    <i class="fas fa-times-circle"></i>
                                                </button>
                                            </form>
                                        </td>

                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="5">
                                            <h6 class="text-right mt-3"><strong>Subtotal: €{{ total|floatformat:2 }}</strong></h6>
                                            <h6 class="text-right mt-3"><strong>Delivery: €{{ delivery|floatformat:2 }}</strong></h6>
                                            {% if free_delivery_delta > 0 %}
                                                <p class="mb-1 text-right text-danger">
                                                    You could get free delivery by spending just <strong>${{ free_delivery_delta|floatformat:2 }}</strong> more!
                                                </p>
                                            {% endif %}
                                            <hr>
                                            <h5 class="text-right my-4"><strong>Total: €{{ grand_total|floatformat:2 }}</strong></h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="text-right">
                                            <a href="{% url 'products' %}" class="mr-2 btn-green btn-lg">
                                                <span>Keep Shopping</span>
                                                <span class="icon">
                                                    <i class="fas fa-solid fa-baby-carriage"></i>
                                                </span>
                                            </a>
                                            <a href="" class="ml-2 btn-green btn-lg">
                                                <span>Checkout</span>
                                                <span class="icon">
                                                    <i class="fas fa-lock"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                {% else %}
                    <h4>Your shopping cart is empty <i class="fas fa-heart-broken"></i></h4>
                    <a href="{% url 'products' %}" class=" my-3 btn-green btn-lg">
                        <span> >> Shop here for a new green friend!</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    <script type="text/javascript">





    </script>

{% endblock %}