{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Banner -->
    <div id="banner" class="row text-center text-white">
        <div class="col bg-dark-green">
            <h4 class="my-1"><i class="fas fa-solid fa-seedling"></i> We have the most instagrammable plants you will ever see! <i class="fas fa-solid fa-seedling"></i></h4>                
        </div>            
    </div>

    <div class="container-fluid text-dark-green mh-70vh">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Shopping Cart Overview</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col text-center mt-4">
                {% if bag_items %}
                    <p> {{ bag_items }}</p>
                {% else %}
                    <h4>Your shopping cart is empty <i class="fas fa-heart-broken"></i></h4>
                    <a href="{% url 'products' %}" class="link-unstyled">
                        <h5 class="my-4">>> Shop here for a new green friend!</h5>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}