{% extends "base.html" %}
{% load static %}

{% block content %}
    <header class="hero-image">

        <!-- Banner -->
        <div id="banner" class="row text-center bg-dark text-white">
            <div class="col">
                <h4 class="my-1"><i class="fas fa-solid fa-seedling"></i> We have the most instagrammable plants you will ever see! <i class="fas fa-solid fa-seedling"></i></h4>                
            </div>            
        </div>

        <!-- Hero Image -->
        <div class="container my-5">
            <div class="row">
                <div class="col col-md-5">
                    <div>
                        <h3 class="logo-font text-white">
                            Need some oxygen?
                        </h3>
                        <div class="my-5">
                            <p>
                                <a href="#" class="btn btn-lg text-uppercase py-3">Get a green friend today!</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About us section -->
    <section class="row p-3 responsive-font">
        <div class="col-lg-3 col-sm-2"></div>
        <div class="col-lg-6 col-sm-8 my-2 text-center">
            <h2>Forage Boutique</h2>
        
            <p>Hi! We are the Forage Boutique.</p> 
            <p>We are a female owned plant shop, dedicated to bringing to you healthy, trendy and affordable
                green friends to bring some extra oxygen to your house.</p>
            <p>We offer a small but well curated variety of seasonal plants, both for the inside and the outside of your home.</p> 
            <p>Our delivery is done with the outmost care, so that your plant will arrive healthy and within 24h.</p>
            <p>We are looking forward to making your house more green.</p>
        </div>
        <div class="col-lg-3 col-sm-2"></div>
    </section>


{% endblock %}