{% extends "base.html" %}
{% load static %}

{% block content %}
    <header class="hero-image">

        <!-- Banner -->
        <div id="banner" class="row text-center bg-dark text-white">
            <div class="col">
                <h4 class="my-1">We have the most instagrammable plants you will ever see!</h4>                
            </div>            
        </div>

        <!-- Hero Image -->
        <div class="container my-5">
            <div class="row">
                <div class="col col-md-5">
                    <div>
                        <h3 class="logo-font text-white">
                            Need some oxygen?
                        </h3>
                        <div class="my-5">
                            <p>
                                <a href="#" class="btn btn-lg text-uppercase py-3">Get a green friend today!</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}