{% extends "base.html" %}
{% load static %}

{% block content %}
    <header class="hero-image">

        <!-- banner -->
        <div id="banner" class="row text-center text-white">
            <div class="col bg-dark-green">
                <h4 class="my-1 responsive-font"><i class="fas fa-solid fa-seedling"></i> We have the most instagrammable plants you will ever see! <i class="fas fa-solid fa-seedling"></i></h4>                
            </div>            
        </div>

        <!-- hero image -->
        <div class="container my-5">
            <div class="row">
                <div class="col col-md-8 mt-5">
                    <div>
                        <h2 class="logo text-white mb-4">
                            Need some oxygen?
                        </h2>
                        <a href="{% url 'products' %}">
                            <h2 class="logo text-white"><u>Get a new green friend today!</u></h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About us section -->
    <section class="row p-3 responsive-font">
        <div class="col-lg-3 col-sm-2"></div>
        <div class="col-lg-6 col-sm-8 my-2 text-center">
            <h2 class="logo">Forage Boutique</h2>
            <h5>Your online Plant Shop</h5>
        
            <p>Hi! We are the Forage Boutique.</p> 
            <p>We are a female owned bussiness plant shop in Amsterdam, dedicated to bringing to you healthy, trendy and affordable
                plants to bring some extra oxygen to your house.</p>
            <p>We offer a small but well curated variety of indoor and outdoor plants, both for your house and your garden.</p> 
            <p>Our delivery is done with the outmost care, so that your plant will arrive healthy and within 24h.</p>
            <p>We are looking forward to making your house more green.</p>
        </div>
        <div class="col-lg-3 col-sm-2"></div>
    </section>

{% endblock %}