{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

    <!-- Banner -->
    <div id="banner" class="row text-center text-white">
        <div class="col bg-dark-green">
            <h4 class="my-1"><i class="fas fa-solid fa-seedling"></i> Free delivery from €30 <i class="fas fa-solid fa-seedling"></i></h4>                
        </div>            
    </div>

    <div class="container text-dark-green">
        <div class="row">
            <div class="col text-center my-4">
                <h2 class="logo-font">Thank you !</h2>
                <p>Your order was successfully completed</p>
                <p>We have sent a confirmation e-mail to <strong>{{ order.email }}</strong></p>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Order Summary</h4>
                    <div class="row g-3">
                        <div class="col-12">
                            <h6>Order Number: {{ order.order_number }}</h6>
                        </div>
                        <div class="col-12">
                            <h6>Date: {{ order.date }}</h6>
                        </div>
                        <div class="col-12">
                            <h6>Subtotal: € {{ order.order_total }}</h6>
                        </div>
                        <div class="col-12">
                            <h6>Delivery Cost: € {{ order.delivery_cost }}</h6>
                        </div>
                        <div class="col-12">
                            <h6><strong>Total: € {{ order.grand_total }}</strong></h6>
                        </div>
                    </div>
                <h4 class="my-3">Order Details</h4>
                {% for item in order.lineitems.all %}
                <div class="row g-3">
                    <div class="col-12">
                        <h5>{{ item.product.friendly_name }}</h5>
                    </div>
                    <div class="col-12">
                        <h6>{{ item.product.size }}</h6>
                    </div>
                    <div class="col-12">
                        <h6>Quantity: {{ item.quantity }}</h6>
                    </div>
                    <div class="col-12">
                        <h6>Price € {{ item.product.price }}/piece</h6>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex mb-3">
                    <span>Delivery Details</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class= "d-flex justify-content-between">
                        <div>
                            <h6 class="my-1">{{ order.full_name}}</h6>
                        </div>
                    </li>
                    <li class= "d-flex justify-content-between">
                        <div>
                            <h6 class="my-1">{{ order.street_address }}</h6>
                        </div>
                    </li>
                    <li class= "d-flex justify-content-between">
                        <div>
                            <h6 class="my-1">{{ order.city }}</h6>
                        </div>
                    </li>
                    {% if order.postcode %}
                        <li class= "d-flex justify-content-between">
                            <div>
                                <h6 class="my-1">{{ order.postcode }}</h6>
                            </div>
                        </li>
                    {% endif %}
                    <li class= "d-flex justify-content-between">
                        <div>
                            <h6 class="my-1">{{ order.country }}</h6>
                        </div>
                    </li>
                </ul>
                <h4 class="d-flex mb-3">
                    <span>Contact Details</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class= "d-flex justify-content-between">
                        <div>
                            <h6 class="my-1">E-mail: {{ order.email}}</h6>
                        </div>
                    </li>
                    <li class= "d-flex justify-content-between">
                        <div>
                            <h6 class="my-1">Phone number: {{ order.phone_number }}</h6>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn-green btn-lg">
                        <span class="icon mr-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="text-uppercase">Back to My Profile</span>
                    </a>
                {% else %}
                    <a href="{% url 'products' %}" class="btn-green btn-lg">
                        <span class="icon mr-2">
                            <i class="fas fa-gifts"></i>
                        </span>
                        <span class="text-uppercase">Back to Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <hr class="w-50 mb-1">
        </div>
    </div>

{% endblock %}
