/* General Color Styling */

.text-light-green {
    color: #81C14B;
}

.bg-light-green {
    background-color: #81C14B;
}

/* Hero Image */

.hero-image {
    background-color: green;
    background-position: center;
    min-height: 70vh;
    position: relative;
}
