{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/account.css' %}">
{% endblock %}

{% block content %}

    <!-- Banner -->
    <div id="banner" class="row text-center text-white">
        <div class="col bg-dark-green">
            <h4 class="my-1"><i class="fas fa-solid fa-seedling"></i> Free delivery from €30 <i class="fas fa-solid fa-seedling"></i></h4>                
        </div>            
    </div>

    <div class="container text-dark-green">
        <div class="row">
            <div class="col text-center my-4">
                <h2 class="logo-font">My Profile</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 col-lg-6 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span>Order History</span>
                </h4>
                <div id="order-history">
                    {% if orders %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Order Date</th>
                                    <th scope="col">Order No.</th>
                                    <th scope="col">Products</th>
                                    <th scope="col">Total Cost</thS>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td scope="row">{{ order.date |date:"d F Y" }}</td>
                                        <td scope="row">
                                            <a href="{% url 'order_history' order.order_number %}"
                                            title="{{ order.order_number }}">
                                                {{ order.order_number|truncatechars:8 }}
                                            </a>
                                        </td>
                                        <td scope="row">
                                            {% for item in order.lineitems.all %}

                                            {{ item.product.friendly_name }} x {{ item.quantity }}
                                            
                                            {% endfor %}
                                        </td>
                                        <td scope="row">£{{ order.order_total }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h6>You have no previous orders to display</h6>
                    {% endif %}
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <h4 class="mb-3 my-heading-font">Delivery Address</h4>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }} 
                    <div class="text-right">
                        <button id="submit-button" class="ml-2 btn-green btn-lg">
                            <span>Update Profile Details</span>
                            <i class="fas fa-user-cog"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'accounts/js/country_field.js' %}"></script>
{% endblock %}
