{% load static %}

<!doctype html>
<html lang="en">
    <head>

        {% block metadata %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block corecss %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% endblock %}

        {% block corejs %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
            <!-- Font Awesome -->
            <script src="https://kit.fontawesome.com/b690598c3f.js" crossorigin="anonymous"></script>
        {% endblock %}

        <title>Forage Boutique</title>
    </head>
    <body class="d-flex flex-column">
        <div class="page-container">
            <!-- Navigation Bar -->
            <nav class="navbar sticky-top navbar-expand-md navbar-light" id="main-nav">
                <a class="navbar-brand brand-text ml-2 text-responsive my-0" href="{% url 'homepage' %}" id="nav-heading"><h2 class="text-dark-green">Forage Boutique</h2></a>
                
                <!-- Collapsible icon for smaller screens -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 mr-auto align-items-center">
                        <li class="list-inline-item dropdown">
                            <a class="text-dark-green" href="#" id="category-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <p class="my-0 mx-2">Shop by Category</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                    <a href="#" class="dropdown-item">New arrivals</a>
                                    <a href="{% url 'products' %}?category=indoors" class="dropdown-item">House Plants</a>
                                    <a href="{% url 'products' %}?category=outdoors" class="dropdown-item">Outdoor Plants</a>
                                    <a href="{% url 'products' %}" class="dropdown-item">All products</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0 align-items-center d-flex justify-content-end">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <li class="list-inline-item dropdown">
                                    <a class="text-dark-green" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="text-center">
                                            <p class="my-0 mx-2"><i class="fas fa-user-secret"></i> Admin Account</p>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                            <a href="#" class="dropdown-item">Add New Product</a>
                                            <a href="#" class="dropdown-item">Product Managment</a>
                                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="list-inline-item dropdown">
                                    <a class="text-dark-green" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="text-center">
                                            <p class="my-0 mx-2"><i class="fas fa-solid fa-user"></i> My Account</p>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                            <a href="#" class="dropdown-item">My Details</a>
                                            <a href="#" class="dropdown-item">My Orders</a>
                                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                    </div>
                                </li>
                            {% endif %}
                        {% else %}
                        <li class="list-inline-item dropdown">
                            <a class="text-dark-green" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <p class="my-0 mx-2"><i class="fas fa-solid fa-user"></i> My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            </div>
                        </li>
                        {% endif %}   
                        <li class="list-inline-item">
                            <a class=" text-dark-green" href="{% url 'view_bag' %}">
                                <div class="text-center">
                                    <p class="my-0 mx-2">
                                        <i class="fas fa-solid fa-baby-carriage"></i> 
                                        {% if grand_total %}
                                            € {{ grand_total|floatformat:2 }}
                                        {% else %}
                                             Shopping Cart
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        {% block content %}

        {% endblock %}
        
        <!-- Footer -->
        <footer class="footer bg-light-green">
            <div class="container my-4">
                <div class="row footer-row">
                    <!-- delivery information -->
                    <div class="col-xs-6 col-md-5">
                        <h5 class="mt-2"><i class="fas fa-solid fa-truck"></i> Delivery Info:</h5>
                        <p>Ordered before 15pm, delivered the next day!</p>
                        <p>Delivery only to the Netherlands(NL).</p>
                        <p>Weekend orders are processed on the next Monday.</p>
                    </div>
                    <!-- contact details -->
                    <div class="col-xs-6 col-md-3">
                        <h5 class="mt-2"><i class="fas fa-solid fa-headset"></i> Contact us:</h5>
                        <p>info@forageboutique.com</p>
                        <p>+31 20 1234 5678</p>
                        <p>Amsterdam, 1234 AB</p>
                    </div>
                    <!-- newsletter -->
                    <div class="col-xs-6 col-md-4">
                        <h5 class="mt-2"><i class="fab fa-brands fa-mailchimp"></i> Sign up to our newsletter:</h5>
                        <form method="post">
                            <div>
                                <label>Email Address <span>*</span></label>
                                <input type="email" value="" name="email">
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
            </div>
            <div class="container">
                <div class="row text-center">
                    <!-- social media links -->
                    <div class="col-12">
                        <div class="text-center">
                            <p class="d-inline-block mx-3 social-icons">
                                <a class="social-link" href="https://www.facebook.com/" target="_blank"><i class="fab fa-brands fa-facebook"></i></a>
                            </p>
                            <p class="d-inline-block mx-3 social-icons">
                                <a class="social-link" href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-brands fa-twitter"></i></a>
                            </p>
                            <p class="d-inline-block mx-3 social-icons">
                                <a class="social-link" href="https://www.instagram.com/" target="_blank"><i class="fab fa-brands fa-instagram"></i></a>
                            </p>
                        </div>
                    </div>
                    <!-- copyright website -->
                    <div class="col-12">
                        <p>Copyright &copy; 2022 AwesomeAnaWebDevelopemnt</p>
                    </div>
                </div>
            </div>
        </footer>

        {% block postloadjs %}
        {% endblock %}
        
    </body>
</html>