.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #204E4A;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
.list-group-item,
#card-element {
    color: #204E4A;
    border: 1px solid #204E4A;
    border-radius: 0.3rem;
}

#id_country {
  padding: 0px;
}

select,
select option {
  color: #204E4A;
}

select:invalid,
select option[value=""] {
  color: #aab7c4 !important;
}

/* Loading Overlay */

#loading-overlay {
	display: none;
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 78, 74, .85);
  z-index: 9999;
}

.loading-spinner {
	display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}