{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Banner -->
    <div id="banner" class="row text-center text-white">
        <div class="col bg-dark-green">
            <h4 class="my-1"><i class="fas fa-solid fa-seedling"></i> Free delivery from €30 <i class="fas fa-solid fa-seedling"></i></h4>                
        </div>            
    </div>

    <div class="container text-dark-green">
        <div class="row">
            <div class="col text-center my-4">
                <h2 class="logo-font">Product Managment</h2>
                <h5>Add a New Product</h5>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row g-5">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn-green btn-lg" href="{% url 'products' %}">Cancel</a>
                        <button class="btn-green btn-lg" type="submit">Add Product</button>
                    </div>
                </form>


            </div>
        </div>
    </div>

{% endblock %}
