{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid bg-dark-green">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Our collection of Green Friends</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0 text-dark-green">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <h4 class="mb-2">{{ product.friendly_name }}</h4>
                                </div>
                                <div class="card-body py-0">
                                    <i><p class="mb-0">{{ product.name }}</p></i>
                                </div>
                                <div class="card-body py-0">
                                    <p class="mb-0"><strong>size:</strong> {{ product.size }}</p>
                                </div>
                                <div class="card-body py-0">
                                    <p class="mb-0"> <strong>care:</strong> {{ product.habitat.friendly_name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-right">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-right font-weight-bold">€ {{ product.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mt-3 text-right">
                <button id="backToTopBtn">
                    <i class="fas fa-arrow-up"></i>
                </button>
                <hr class="w-50 mb-1">
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}

<script type="text/javascript">

    var backToTopBtn = document.getElementById("backToTopBtn")
    var rootElement = document.documentElement

    function backToTop() {
        rootElement.scrollTo({
            top: 0,
            behavior: "smooth"
        })
    }

    backToTopBtn.addEventListener("click", backToTop)

</script>

{% endblock %}